/*common class import*/
@import '../common-class/common.scss';

/*---------section-4 (PORTFOLIO)----------*/

.portfolio-section { background-color: #000000; /*header*/ .portfolio-section-header {
    .header-content { margin-top: $mt-50;
      .heading {
        color: $deep-orange;
        @include font($extra-large-font,$semi-bold);
      }
      .heading-lead {
        color: white;
        @include font($larg-font,$normal);
      }
    }
  }
  /*content*/ .portfolio-content { padding-bottom: 50px;
    .content-row {
      .content-grid {
        .content-card { border: none; height: 100%; border-radius: 0px;
          .image { height: 100%; width: 100%; border: none; border-radius: 0px; position: absolute; }
          .overlay { z-index: 999; opacity: 0; transition: all 1s ease-in-out;
            .card-body { transition: 0.5s; color: white; background-color: #10B6DD; opacity: 0.9; margin: 20px;
              .body-heading {
                cursor: auto;
                @include font($larg-font,$semi-bold);

                .fa-star-half-o {
                  @include font($extra-large-font,$semi-bold);
                }
              }
              .body-heading-lead {
                cursor: auto;
                @include font($medium-font,$normal);
              }
              .view-more-btn {
                transition: 0.5s;
                @include button-style($deep-orange,40px,50%,$medium-font,$mt-0);
                color: white;
                &:hover { background-color: #d85b0e; }
                &:focus { outline: none; box-shadow: none; }
                &:active { outline: none; box-shadow: none; }
              }
             
            }

            &:hover { opacity: 1; }
          }
        }
      }
    }
  }
}


/*maximum screen width 767px*/
@media only screen and (max-width:767px) {
  /*-----------section-4 (PORTFOLIO)-------------*/
  .portfolio-section { /*header*/ .portfolio-section-header {
      .header-content { margin-top: $mt-30;
        .heading { font-size: 40px; }
        .heading-lead { font-size: $medium-font; }
      }
    }
    /*content*/ .portfolio-content { 
      .content-row {
        .content-grid {
          .content-card { 
            .image { }
            .overlay {
              .card-body { padding:10px!important;
                .body-heading {
                
                  @include font($medium-font,$semi-bold);
                }
                .body-heading-lead {
              
                  @include font($small-font,$normal);
                }
                .view-more-btn {
                  transition: 0.5s;
                  @include button-style($deep-orange,30px,auto,10px,$mt-0);
                
                }
              }
            }
          }
        }
      }
    }
  }
  }

/*maximum screen width 425px*/
@media only screen and (max-width:425px) {
  
  /*-----------section-4 (PORTFOLIO)-------------*/
  .portfolio-section { /*header*/ .portfolio-section-header {
      .header-content {
        .heading { font-size: $larg-font; }
        .heading-lead { font-size: $extra-small-font; }
      }
    }
  }
}






