/*common class import*/
@import '../common-class/common.scss';

/*---------section-4 (PORTFOLIO)----------*/

.portfolio-section { background-color: black; /*header*/
                     .portfolio-section-header {
    .header-content { margin-top: $mt-50;
      .heading {  color: $deep-orange;  @include font($extra-large-font,$semi-bold); }
      .heading-lead { color: white ; @include font($larg-font,$normal);}
    }
  }
  /*content*/ .portfolio-content {
    .content-row {
      .content-grid {
        .content-card { border: none; height: 100%; border-radius: 0px;
          .card-img { opacity: 0.5; height: 100%; border: none; border-radius: 0px; }
          .card-body { top: 15%; color: white;
            .body-heading { transition: 0.5s;
              
            }
            .body-heading-lead { transition: 1s;
             
            }
          }
        }
      }
    }
  }
}


/*screen size max-width:767px*/
@media only screen and (max-width:767px) {
  /*-----------section-4 (PORTFOLIO)-------------*/
  .portfolio-section { /*header*/ .portfolio-section-header {
      .header-content { margin-top: $mt-30;
        .heading { font-size: 40px; }
        .heading-lead { font-size: $medium-font; }
      }
    }
  }
}

/*screen size max-width:425px*/
@media only screen and (max-width:425px) {
  
  /*-----------section-4 (PORTFOLIO)-------------*/
  .portfolio-section { /*header*/ .portfolio-section-header {
      .header-content {
        .heading { font-size: $larg-font; }
        .heading-lead { font-size: $extra-small-font; }
      }
    }
  }
}




/*-----------overlay----------*/
.overlay { opacity: 1; transition: 1s;
  &:hover { cursor: pointer; opacity: 0.9; }
}
