

/*common class import*/
@import '../common-class/common.scss';


/*-----------section-1 (HOME)-------------*/
.home-section {
  .carousel-indicators {
    li { background-color: $deep-orange !important; }
  }
  .home-section-slider {
    .slide-1 {
      @include slider-banner-background("../assets/section-1-bg.jpg");
      .slide-1-caption { top: 25%; color: black;
        .heading {
          @include font($extra-large-font,$semi-bold);
        }
        .heading-lead {
          @include font($larg-font,$normal);
        }
        .btn {
          @include button-style($deep-orange,50px,185px,$medium-font,$mt-20);
          &:hover { background-color: #d85b0e; }
          &:focus { outline: $deep-orange; box-shadow: none; }
          &:active { outline: $deep-orange; box-shadow: none; }
        }
      }
    }
    .slide-2 {
      @include slider-banner-background("../assets/section-1(1)-bg.jpg");
      .slide-2-caption { top: 25%; color: black;
        .heading {
          @include font($extra-large-font,$semi-bold);
        }
        .heading-lead {
          @include font($larg-font,$normal);
        }
        .btn {
          @include button-style($deep-orange,50px,185px,$medium-font,$mt-20);
          &:hover { background-color: #d85b0e; }
          &:focus { outline: $deep-orange; box-shadow: none; }
          &:active { outline: $deep-orange; box-shadow: none; }
        }
      }
    }
    .slide-3 {
      @include slider-banner-background("../assets/section-1(2)-bg.jpg");
      .slide-3-caption { top: 25%; color: black;
        .heading {
          @include font($extra-large-font,$semi-bold);
        }
        .heading-lead {
          @include font($larg-font,$normal);
        }
        .btn {
          @include button-style($deep-orange,50px,185px,$medium-font,$mt-20);
          &:hover { background-color: #d85b0e; }
          &:focus { outline: $deep-orange; box-shadow: none; }
          &:active { outline: $deep-orange; box-shadow: none; }
        }
      }
    }
  }
}


/*screen size max-width:767px*/
@media only screen and (max-width:767px) { /*-----------section-1 (HOME)-------------*/
  .home-section {
    .home-section-slider {
      .slide-1 {

        .slide-1-caption {
          .heading { font-size: 40px; }
          .heading-lead { font-size: $medium-font; }
          .btn {
            @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
          }
        }
      }
      .slide-2 {

        .slide-2-caption {
          .heading { font-size: 40px; }
          .heading-lead { font-size: $medium-font; }
          .btn {
            @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
          }
        }
      }
      .slide-3 {

        .slide-3-caption {
          .heading { font-size: 40px; }
          .heading-lead { font-size: $medium-font; }
          .btn {
            @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
          }
        }
      }
    }
  }
}



/*screen size max-width:425px*/
@media only screen and (max-width:425px) {
  /*-----------section-1 (HOME)-------------*/
  .home-section {
    .home-section-slider {
      .slide-1 {

        .slide-1-caption { top: 30%;
          .heading { font-size: $larg-font; }
          .heading-lead { font-size: $small-font; }
          .btn {
            padding: $p-0;
            @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
          }
        }
      }
      .slide-2 {

        .slide-2-caption { top: 30%;
          .heading { font-size: $larg-font; }
          .heading-lead { font-size: $small-font; }
          .btn {
            padding: $p-0;
            @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
          }
        }
      }
      .slide-3 {

        .slide-3-caption { top: 30%;
          .heading { font-size: $larg-font; }
          .heading-lead { font-size: $small-font; }
          .btn {
            padding: $p-0;
            @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
          }
        }
      }
    }
  }
}
