/*common class import*/
@import '../common-class/common.scss';

/*-----section 7 (CONTACT)---------*/
.contact-section { background-color: #333333;
  .subscription-section { padding: 50px 0px; /*simple heading to subscribe*/ .subscription-section-grid {
      .subscribe-heading {
        .heading {
          @include font(25px,$semi-bold);
        }
      }
    }
  }
}


/*subscription form in contact-section*/
.subscribe-form-section {
  .subscribe-form {
    .form-group {
      .subscribe-form-grid {
        .email-input-column {
          .email-input { color: white; background-color: #333333;
            &:focus { outline: $deep-orange !important; box-shadow: none !important; border-bottom: 1px solid $deep-orange; }
            &:active { outline: $deep-orange !important; box-shadow: none !important; border-bottom: 1px solid $deep-orange; }
          }
        }
        .subscribe-button-column {
          .subscribe-button {
            @include button-style($deep-orange,50px,185px,$medium-font,$mt-0);
            border: none;
            &:hover { background-color: #d85b0e !important; }
            &:focus { outline: $deep-orange; box-shadow: none ; }
            &:active { outline: $deep-orange ; box-shadow: none ; }
          }
        }
      }
    }
  }
}

/*maximum screen width 768px*/
@media only screen and (max-width:768px) {

  .contact-section {
    .subscription-section { padding:  0px; /*simple heading to subscribe*/ .subscription-section-grid {
        .subscribe-heading {
          .heading { font-size: 25px; }
        }
      }
    }
  }
  /*subscription form in contact-section*/
  .subscribe-form-section {
    .subscribe-form {
      .form-group {
        .subscribe-form-grid {
          .email-input-column {
            .email-input { font-size: $small-font; }
          }
          .subscribe-button-column {
            .subscribe-button {
              @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
        
            }
          }
        }
      }
    }
  }
}

/*maximum screen width 425px*/
@media only screen and (max-width:425px) {

  .contact-section {
    .subscription-section {padding-top:20px;
      /*simple heading to subscribe*/ .subscription-section-grid {
        .subscribe-heading {
          .heading { font-size:$larg-font; }
        }
      }
    }
  }
  /*subscription form in contact-section*/
  .subscribe-form-section {
    .subscribe-form {
      .form-group {
        .subscribe-form-grid {
          .email-input-column {
            .email-input { }
          }
          .subscribe-button-column {
            .subscribe-button {
              padding: $p-0;
              @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
            }
          }
        }
      }
    }
  }
}
