/*common class import*/
@import '../common-class/common.scss';


/*-----------section-6 (PRICING)---------*/

/*header*/
.pricing-section {
  .pricing-section-header { margin-top: $mt-50;
    .header-content {
      .heading {
        color: $deep-orange;
        @include font($extra-large-font,$semi-bold);
      }
      .heading-lead {
        @include font($larg-font,$normal);
      }
    }
  }
}


/*content*/
.pricing-content { 
  .plan-content-row {
    .plan-content-grid { background-color: $light-grey; }
  }
}

/*inner-grid form plan-section content*/
.plan-content-inner-row {
  .plan-type-grid {
    .plan-type-name {
      @include font($larg-font,$semi-bold);
    }
  }
  .plan-price-grid {
    .plan-price-value {
      @include font($larg-font,$semi-bold);
    }
  }
  .plan-support-grid {
    .plan-support-time {
      @include font($medium-font,$normal);
    }
  }
  .plan-buy-grid {
    .plan-buy-domain {
      @include font($medium-font,$normal);
    }
    .plan-buy-btn {  font-size: $medium-font;
      &:hover { background-color: #d85b0e !important; }
      &:focus { outline: $deep-orange !important; box-shadow: none !important; }
      &:active { outline: $deep-orange !important; box-shadow: none !important; }
    }
  }
}


/*maximum screen width 767px*/
@media only screen and (max-width:767px) {

  .pricing-section { /*header*/ .pricing-section-header { margin-top: $mt-30;
      .header-content {
        .heading { font-size: 40px; }
        .heading-lead { font-size: $medium-font; }
      }
    }
  }
}

/*maximum screen width 425px*/
@media only screen and (max-width:425px) {

  .pricing-section { /*header*/ .pricing-section-header {
      .header-content { 
        .heading { font-size: $larg-font; }
        .heading-lead { font-size: $extra-small-font; }
      }
    }
  }
  /*content*/
  .pricing-content { padding-bottom: 0px;
    .plan-content-row {
      .plan-content-grid { background-color: $light-grey; }
    }
  }
}
