/*common class import*/
@import '../common-class/common.scss';


/*---------section-3 (SERVICES)----------*/
.services-section { background-color: $light-grey; /*header*/ .services-section-header {
    .header-content { margin-top: $mt-50;
      .heading {
        color: $deep-orange;
        @include font($extra-large-font,$semi-bold);
      }
      .heading-lead {
        @include font($larg-font,$normal);
      }
    }
  }
  /*content*/ .services-content { padding-bottom: 30px;
    .content-row {
      .content-grid {
        .content-card { background-color: $light-grey; border: none;
          .card-img-top { }
          .card-body {
            .body-heading {
              @include font($larg-font,$semi-bold);
            }
            .body-heading-lead {
              @include font($medium-font,$normal);
            }
          }
        }
      }
    }
  }
}


/*maximum screen width 767px*/
@media only screen and (max-width:767px) {
  /*-----------section-3 (SERVICES)-------------*/
  .services-section {
    .services-section-header {
      .header-content { margin-top: $mt-30;
        .heading { font-size: 40px; }
        .heading-lead { font-size: $medium-font; }
      }
    }
  }
}



/*maximum screen width 425px*/
@media only screen and (max-width:425px) {
  /*-----------section-3 (SERVICES)-------------*/
  .services-section {
    .services-section-header {

      .header-content {
        .heading { font-size: $larg-font; }
        .heading-lead { font-size: $extra-small-font; }
      }
    }
    /*content*/ .services-content {
      .content-row {
        .content-grid {
          .content-card {
            .card-img-top { }
            .card-body { 
              .body-heading { font-size: $medium-font; }
              .body-heading-lead { font-size: $small-font;}
            }
          }
        }
      
    }
  }
  }
}
