/*styles for home section*/
/*@import './styles/section-1-home/section-1-home.scss';*/

/*styles for about section*/
@import './styles/section-2-about/section-2-about.scss';

/*styles for services section*/
@import './styles/section-3-services/section-3-services.scss';

/*styles for portfolio section*/
@import './styles/section-4-portfolio/section-4-portfolio.scss';

/*styles for team section*/
@import './styles/section-5-team/section-5-team.scss';

/*styles for pricing section*/
@import './styles/section-6-pricing/section-6-pricing.scss';

/*styles for contact section*/
@import './styles/section-7-contact/section-7-contact.scss';


/*----------header--------------*/
.app-header { width: 100%; height: 50px; /*header logo*/ .app-header-logo { margin-left: 150px; font-size: 25px; }
  .app-header-navbar { margin-right: 150px; font-size: $small-font; font-weight: 600; padding-bottom: 0px;
    .navbar-toggler {
      .menu-icon { color: $deep-orange; }
    }
  }
}

ul {
  li { margin-left: 25px;
    a { color: $text-color; padding-bottom: 0px; margin-bottom: 0px;
      &:hover { color: $deep-orange; border-bottom: 2px solid $deep-orange; }
    }
  }
}


/*-----------section-1 (HOME)-------------*/

.home-section {
  .slide-indicators {
    li { background-color: $deep-orange !important; }
  }
}

.slide-1 {
  @include slider-banner-background("../assets/section-1-bg.jpg");
  .slide-1-caption { top: 25%; color: black;
    .slide-heading {
      width: 76%;
      margin: 0px auto;
      line-height: 1.3;
      @include font($extra-large-font,$semi-bold);
    }
    .slide-sub-heading {
      @include font($larg-font,$normal);
    }
    .btn {
      @include button-style($deep-orange,50px,185px,$medium-font,$mt-10);
      &:hover { background-color: #d85b0e; }
      &:focus { outline: $deep-orange; box-shadow: none; }
      &:active { outline: $deep-orange; box-shadow: none; }
    }
  }
}

.slide-2 {
  @include slider-banner-background("../assets/section-1(1)-bg.jpg");
  .slide-2-caption { top: 25%; color: black;
    .slide-heading {
      width: 76%;
      margin: 0 auto;
      line-height: 1.3;
      @include font($extra-large-font,$semi-bold);
    }
    .slide-sub-heading {
      @include font($larg-font,$normal);
    }
    .btn {
      @include button-style($deep-orange,50px,185px,$medium-font,$mt-20);
      &:hover { background-color: #d85b0e; }
      &:focus { outline: $deep-orange; box-shadow: none; }
      &:active { outline: $deep-orange; box-shadow: none; }
    }
  }
}

.slide-3 {
  @include slider-banner-background("../assets/section-1(2)-bg.jpg");
  .slide-3-caption { top: 25%; color: black;
    .slide-heading {
      width: 76%;
      margin: 0 auto;
      line-height: 1.3;
      @include font($extra-large-font,$semi-bold);
    }
    .slide-sub-heading {
      @include font($larg-font,$normal);
    }
    .btn {
      @include button-style($deep-orange,50px,185px,$medium-font,$mt-20);
      &:hover { background-color: #d85b0e; }
      &:focus { outline: $deep-orange; box-shadow: none; }
      &:active { outline: $deep-orange; box-shadow: none; }
    }
  }
}



/*-----------section-2 (ABOUT)-----------*/
.about-section { background-color: black;
  .about-section-header {
    .header-content { margin-top: 80px;
      .section-heading {
        color: $deep-orange;
        margin-bottom: 15px;
        @include font($extra-large-font,$semi-bold);
      }
      .section-sub-heading {
        width: 75%;
        margin: 0 auto;
        @include font($larg-font,$normal);
      }
    }
  }
}

.about-section-content { padding-bottom: 100px;
  .content-img {
    img { height: 100%; }
  }
  .content-data {
    .content-data-heading { 
      @include font(20px,$semi-bold);
    }
    ul { padding: 20px 0px 0px;
      li { font-size: $medium-font; padding-bottom: 10px; }
    }
  }
}


/*-----------------footer------------------*/
.footer { font-size: $medium-font; }


/* screen width 768px*/
@media only screen and (width:768px) {

  /*----------header--------------*/
  .app-header {padding:5px 0px; width: 100%; height: auto; .app-header-logo { margin-left: 50px; font-size: 25px;top:0%; position: fixed; }
    .app-header-navbar { margin-right: 50px; font-size: $small-font; 
    }
  }
}


/*maximum screen width 768px*/
@media only screen and (max-width:768px)
{
  /*----------header--------------*/
  .app-header { width: 100%; height: auto;
    .app-header-logo { margin-left: 50px; font-size: 25px; position: fixed; }
    .app-header-navbar { margin-right: 50px; font-size: $small-font; font-weight: 600; }
  }

  ul { flex-direction: row; width: 100%;margin:0px 0px;
    li { margin-left: 10px; }
  }

  /*-----------section-1 (HOME)-------------*/
  .slide-1 {

    .slide-1-caption {
      .slide-heading { font-size: 40px; width: 100%; }
      .slide-sub-heading { font-size: $medium-font; }
      .btn {
        @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
      }
    }
  }

  .slide-2 {

    .slide-2-caption {
      .slide-heading { font-size: 40px; width: 100%; }
      .slide-sub-heading { font-size: $medium-font; }
      .btn {
        @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
      }
    }
  }

  .slide-3 {

    .slide-3-caption {
      .slide-heading { font-size: 40px; width: 100%; }
      .slide-sub-heading { font-size: $medium-font; }
      .btn {
        @include button-style($deep-orange,40px,155px,$small-font,$mt-10);
      }
    }
  }


  /*-----------section-2 (ABOUT)-------------*/
  .about-section {
    .about-section-header {
      .header-content {
        .section-heading { font-size: 40px; }
        .section-sub-heading { width: 100%; font-size: $medium-font; }
      }
    }
  }
}



/*maximum screen width 425px*/

@media only screen and (max-width:425px) {

  /*----------header--------------*/
  .app-header { width: 100%; height: auto;
    .app-header-logo { margin-left: 50px; font-size: 25px; margin-top: 10px; position: fixed; }
    .app-header-navbar { margin-right: 50px; font-size: $small-font; font-weight: 600;
      .navbar-toggler { padding-top: 0px;
        .menu-icon { }
      }
    }
  }

  ul { flex-direction: column; margin: 0px auto;
    li {
      a { color: $text-color; margin: 5px auto; }
    }
  }

  /*-----------section-1 (HOME)-------------*/
  .slide-1 {

    .slide-1-caption { top: 30%;
      .slide-heading { font-size: $larg-font; }
      .slide-sub-heading { font-size: $small-font; }
      .btn {
        padding: $p-0;
        @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
      }
    }
  }

  .slide-2 {

    .slide-2-caption { top: 30%;
      .slide-heading { font-size: $larg-font; }
      .slide-sub-heading { font-size: $small-font; }
      .btn {
        padding: $p-0;
        @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
      }
    }
  }

  .slide-3 {

    .slide-3-caption { top: 30%;
      .slide-heading { font-size: $larg-font; }
      .slide-sub-heading { font-size: $small-font; }
      .btn {
        padding: $p-0;
        @include button-style($deep-orange,30px,125px,$small-font,$mt-0);
      }
    }
  }



  /*-----------section-2 (ABOUT)-------------*/
  .about-section {
    .about-section-header {
      .header-content {
        .section-heading { font-size: $larg-font; }
        .section-sub-heading { padding: 10px !important; font-size: $extra-small-font; }
      }
    }
  }

  .about-section-content {
    .content-data { margin-top: 20px;
      .content-data-heading { font-size: 13px; }
      ul { padding: 10px 0px 10px 15px;
        li { font-size: $extra-small-font; }
      }
    }
  }

  /*----------footer--------------*/
  .footer { font-size: $small-font; }
}












