/*styles for home section*/
@import './styles/section-1-home/section-1-home.scss';

/*styles for about section*/
@import './styles/section-2-about/section-2-about.scss';

/*styles for services section*/
@import './styles/section-3-services/section-3-services.scss';

/*styles for portfolio section*/
@import './styles/section-4-portfolio/section-4-portfolio.scss';

/*styles for team section*/
@import './styles/section-5-team/section-5-team.scss';

/*styles for pricing section*/
@import './styles/section-6-pricing/section-6-pricing.scss';

/*styles for contact section*/
@import './styles/section-7-contact/section-7-contact.scss';


/*----------header--------------*/
.app-header { width: 100%; height: 50px; /*header logo*/ .app-header-logo { font-size: 25px; }
  .app-header-navbar { font-size: $small-font; font-weight: 600;
    .navbar-toggler { }
    ul {
      li {
        a { color: $text-color;
          &:hover { color: $deep-orange; border-bottom: 4px solid $deep-orange; }
        }
      }
    }
  }
}


/*styles for the page sections defined in styles/(section-number-name floder)*/
